div.notes-page {
    width: 100%;

}

div.loading-screen {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

section.search-notes-box {
    margin: 0 auto;
    margin-block: 2rem;
    width: 70%;
    border-radius: 4.5px;

    align-items: center;
}

input.input-search-note {
    padding: 1.5rem;
    font-size: 2rem;
    flex-grow: 1;
    color: var(--textbox-font-color);
    border: 0.1px groove var(--textbox-border-color);
    height: fit-content;
}

input.input-search-note:focus {
    border-color: var(--textbox-border-color);
}

div.notes-list-box {
    justify-content: space-around;
    flex-wrap: wrap;
}

section.search-notes-box>i,
nav.filter-notes>i,
i.add-notes-button {
    font-size: 4rem;
    margin-inline: 2rem;
    color: var(--textbox-border-color)
}

section.search-notes-box>i:hover,
nav.filter-notes>i:hover,
i.add-notes-button:hover {
    cursor: pointer;
    color: var(--textbox-font-color)
}

nav.filter-notes>i.active {
    background-color: 'blue';
    color: var(--textbox-font-color)
}

i.add-notes-button {
    margin-inline-start: 10rem;
}

@media (max-width: 1200px) {

    section.search-notes-box {
        width: 90%;
    }

    section.search-notes-box>i,
    nav.filter-notes>i,
    i.add-notes-button {
        font-size: 3rem;
        margin-inline: 1.5rem;
    }
    input.input-search-note {
        padding: 1.2rem;
        font-size: 1.7rem;
    }
    
}

@media (max-width: 800px) {
    section.search-notes-box {
        width: 100%;
    }


    section.search-notes-box>i,
    nav.filter-notes>i,
    i.add-notes-button {
        font-size: 2.5rem;
    }
    nav.filter-notes {
        margin-block: 0rem;
    }
}
@media (max-width: 400px) {
    section.search-notes-box {
        flex-direction: column;
    }

    nav.filter-notes {
        margin-block: 2rem;
    }
}