@font-face {
    font-family: 'Lato';
    src: url('../../../../fonts/Lato-Black.ttf')
}

@font-face {
    font-family: 'Lato Thin';
    src: url('../../../../fonts/Lato-Light.ttf');

}

@font-face {
    font-family: 'Poppins';
    src: url('../../../../fonts/Poppins-Regular.ttf');
}

.mail-index .main-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-nav i {
    display: flex;
    align-items: center;
}

.mail-index .main-nav .fa-star {
    margin-left: -0.4rem;
}

.main-nav a {
    display: grid;
    grid-template-columns: 3em 5em;
    transition: 0.2s all;
    padding: 0.2rem;
    max-height: 27px;
}


.main-nav a.active {

    color: #041e49;
    text-decoration: none;
    background-color: #d3e3fd;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}


.main-nav a:hover {
    background-color: #d9dde5a9;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

}

.mail-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 1rem;
}

.mail-index {
    width: 100%;
    font-size: 1.5rem;
    font-family: Lato Thin;
    padding: 0.2rem;
    overflow-x: hidden;
}

.main-nav-app {
    display: flex;
    flex-direction: column;
}

.main-nav-app button {
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    outline: 0;
    padding: 0.7rem 1.2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0.4em;
}

.main-nav-app button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
}

.main-nav-app button:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
}

.main-nav-app button {
    letter-spacing: 0.2rem;
}

.fa-star {
    transition: all 0.4s;
    padding: 0.3rem;
}


.fa-star:hover {
    background-color: #dee2e5;
    border-radius: 2em;
}

.go-back {
    background-color: #80a1db;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 2em;
}


.go-back:hover {
    background-color: #5e7caf;

}

div.menu-mobile {
    align-self: flex-end;

    background-image: unset;
    background-color: unset;

    border: none;
    border-radius: 0;

    cursor: pointer;

    display: none;
}

nav.main-nav {
    position: relative;
}

body.menu-open-mail nav.main-nav>a {
    display: flex;
    max-height: 100vh;
    z-index: 1;
}

body.menu-open-mail div.main-screen-mail {
    pointer-events: auto;
    display: block;
    opacity: 0.9;
}

@media (max-width: 440px) {
    div.menu-mobile {
        display: unset;
    }
    .main-nav-app a {
        display: none;
    }

    .main-nav-app button {
        position: fixed;
        top: 90%;
        left: 70%;
    }

    .mail-filter .search-wrapper {
        border: 1px solid rgb(153, 161, 170);
        border-radius: 0.3em;
        width: 20em;
    }

    .mail-filter {
        max-width: 350px;
        gap: 10px;
        margin: 0 auto;
    }

    .mail-filter .fa-magnifying-glass {
        display: none;
    }

    .mail-list .first-tr {
        display: grid;
        grid-template-columns: 0.5fr 2.5fr 8fr 3fr;
        /* place-content: center; */
        place-items: center;
        grid-template-rows: 50px;
        gap: 10px;
        border: 1px solid rgb(235, 234, 234);
        padding: 0.3em;
        width: 100%;
        text-align: center;
        max-width: 350px;
    }

    .mail-container {
        grid-template-columns: 10fr;
    }

    .main-outlet {
        margin: 0 auto;
    }

    .new-mail.active {
        right: 0;
        position: absolute;
        width: 100%;
        gap: 10px;
    }

    .second-tr td {
        max-width: 350px;
    }


    nav.main-nav>a {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        display: none;
        justify-content: space-around;
    }

    body.menu-open-mail nav.main-nav>a {
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    div.main-screen-mail {
        position: fixed;
        inset: 0;
        background-color: #121212db;
        /* display: none; */
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.6s;
        pointer-events: none;
        z-index: 1;
    }
}