 .first-tr {
     display: grid;
     grid-template-columns: 0.5fr 2fr 20fr 1fr;
     border: 1px solid rgb(235, 234, 234);
     padding: 0.6em;
     width: 100%;
 }

 .first-tr .mail-sent-at {
     grid-column: 4/5;
 }

 .first-tr:hover {
     cursor: pointer;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
 }

 .mail-sent-at .trash-icon {
     display: none;
 }

 .mail-sent-at .sent-at {
     padding-right: 1em;
 }

 .first-tr:hover .trash-icon {
     display: block;
 }

 .first-tr:hover .sent-at {
     display: none;
 }