section.note-editor {
    width: 100%;
    align-items: center;
    padding-block: 5vh;
    color: var(--textbox-font-color);
}

div.editor-box {
    width: 50%;
    padding-block: 4rem;
    padding-inline: 7.5rem;
    border-radius: 10px;
    background-color: var(--sec-bg-color);
}

/* Select type to add note */

nav.types-menu {
    width: 100%;
    font-size: 5rem;
    justify-content: space-evenly;
    margin-block: 2rem;
    color: cornflowerblue;
}

span.choose-type-add-note {
    text-align: center;
    font-size: 5.5rem;
    width: 100%;
    color: cornflowerblue;
    margin-block-end: 10vh;
}


/* Editor page*/

table.form-table {
    display: table;
    text-align: left;
    width: 80%;
}

table.form-table>tbody>tr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

table.form-table>tbody>tr>td {
    display: flex;
    flex-direction: row;
    margin-block: 1rem;
}

span.editor-desc {
    font-size: 4rem;
}

div.editor-box>form {
    margin-block-start: 2rem;
    font-size: 2rem;
}

td.note-editor-td>input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
}

td.note-editor-td-label>label {
    height: 100%;

}

td.note-editor-td-label {
    align-items: flex-end;
    padding-inline-end: 2rem;

}

td.note-editor-td {
    padding-inline: 0.2rem;
    align-items: flex-end;
    flex-grow: 5;
}









/* Todos Editor tools*/



td.note-editor-td-remove>button {
    border: hidden;
    background-color: inherit;
}

td.note-editor-td-remove>button,
td.note-editor-td-check>input {
    justify-content: center;
    align-items: center;
}

td.note-editor-td-check,
td.note-editor-td-remove {
    justify-content: space-around;
    scale: 1.5;
    width: fit-content;
    padding-inline: 1.5rem;
    flex-grow: 0.5;
}



td.editor-link>button,
td.editor-link>a,
td.add-line>span {
    border: hidden;
    background-color: inherit;
    border-radius: 25%;
    padding-inline: 1rem;
}

td.editor-link>button:hover,
td.editor-link>a:hover,
td.add-line>span:hover,
td.note-editor-td-remove>button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--main-bg-color);
}

td.add-line,
td.editor-link {
    padding-block-start: 2rem;
    text-align: center;

}

td.add-line:hover,
td.editor-link:hover {
    cursor: pointer;
}


td.add-line,
td.editor-link,
td.editor-link>button {
    font-size: 2rem;
    text-align: center;
}


@media (max-width: 1000px) {
    div.editor-box {
        width: 80%;
    }
}

@media (max-width: 800px) {

    td.note-editor-td-check,
    td.note-editor-td-remove {
        padding-inline: 0.5rem;
        scale: 1.2;
    }

    span.choose-type-add-note {
        font-size: 4rem;
        margin-block: 1.4rem;
    }

    nav.types-menu {
        font-size: 4rem;
        margin-block: 1.4rem;
    }

    span.editor-desc {
        font-size: 3rem;
    }


    div.editor-box {
        width: 100%;
        padding-block: 2rem;
        padding-inline: 3.5rem;
        border-radius: 10px;
        background-color: var(--sec-bg-color);
    }

    div.editor-box>form {
        margin-block-start: 3rem;
        font-size: 2rem;
    }

    td.note-editor-td>input {
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    td.note-editor-td-check,
    td.note-editor-td-remove {
        scale: 1.0;
    }
    span.choose-type-add-note {
        font-size: 3rem;
        margin-block: 1.4rem;
    }

    nav.types-menu {
        font-size: 3rem;
        margin-block: 1.4rem;
    }

    span.editor-desc {
        font-size: 3rem;
    }

    div.editor-box>form {
        margin-block-start: 2rem;
        font-size: 2rem;
    }
}

@media (max-width: 300px) {
    div.editor-box>form {
        margin-block-start: 2rem;
        font-size: 1.75rem;
    }
    td.note-editor-td>input {
        font-size: 1.4rem;
    }
}