div.note-box {
    font-size: 2rem;

    margin: 1rem;
    padding: 2rem;
    width: fit-content;

    border: 0px hidden black;

    height: fit-content;
}


div.note-tools{
    width: 100%;
    justify-content: space-between;
    margin-block-start: 1rem;

    text-align: center;
}

input.note-color-tool{
    opacity: 0;
    height: 0;
    width: 0;
}

/* Note Text */


span.note-text {
    padding-block-end: 2rem;
}






/* Note Todo */

ul.note-todo-list{
    list-style: none;
}

i.todo-checked{
    margin-inline-start: 1.5rem;
}

span.done {
    color:rgb(78, 76, 76);
}

span.note-todo-header {
    font-size: 2.2rem;
    text-align: center;
}

/* Todo Image */
span.note-image-title {
    font-size: 2.2rem;
    text-align: center;
    margin-block-end: 1rem;
}

img.note-img{
    margin-block: 1rem;
}