div.about-me {

    max-width: 1120px;
    width: 100%;
    justify-content: flex-start;
    margin: 0 auto;

    padding: 0.5rem 0.5rem;
}

div.about-info {
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 2;

    padding: 2%;
}

span.card-header {
    font-size: 2rem;
    color: rgb(0, 31, 63);
    margin: 0;
}

span.card-sub-header {
    margin: 0;
    margin-block-start: 0.5rem;
    font-size: 1.6rem;
    color: rgba(105, 114, 183, 0.55);
}

div.my-thumb {
    flex-grow: 1;

    justify-content: center;
    align-items: center;
    padding-inline: 5%;
}

img.about-me-img {
    max-height: 200px;
    max-width: 200px;
    height: 20rem;
    width: 20rem;
    border-radius: 35%;
}

p.card-text{
    font-size: 1.4rem;
    text-align: left;
}

div.about-icons {
    margin-block: 0.5rem;
}

div.about-icons > a > i {
    margin-inline-end: 1rem;
    font-size: 2.5rem;
    color: var(--blue-color);
}

span.contact-me {
    font-size: 1.5rem;
}