header {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-bottom: 2px solid white;
    justify-content: space-around;
    padding: 3rem 0;
}

div.header-box {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.app-logo {
    font-size: 5rem;
    color: white;
}

nav.links {
    position: relative;
}

nav.links>a {
    display: flex;
    flex-direction: row;

    font-size: 3rem;
    margin-inline-end: 1em;
    height: fit-content;
}

nav.links>a:active {
    color: purple;
}

nav.links>a.active {
    color: rgb(10, 14, 246);
    font-weight: 900;
}

nav.header-nav>button.menu-toggle-btn {

    align-self: flex-end;
    font-size: 4.5rem;

    background-image: unset;
    background-color: unset;

    border: none;
    border-radius: 0;

    cursor: pointer;

    display: none;
}

div.main-screen {
    position: fixed;
    inset: 0;
    background-color: #121212db;
    /* display: none; */
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s;
    pointer-events: none;
    z-index: 1;
}

body.menu-open nav.links>a {
    display: flex;
    box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    max-height: 100vh;
    z-index: 1;
}

body.menu-open div.main-screen {
    pointer-events: auto;
    display: block;
    opacity: 0.9;
}

@media (max-width: 800px) {
    nav.header-nav>button.menu-toggle-btn {
        display: unset;
    }

    nav.header-nav {
        flex-direction: column;
    }

    nav.links {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
    }

    nav.links>a {
        justify-content: space-around;
        width: 100%;
        display: none;
        background: #667db6;
        padding-block: 2rem;
    }


}