header {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-bottom: 2px solid white;
    justify-content: space-around;
    padding: 3rem 0;
}

div.header-box {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.app-logo {
    font-size: 5rem;
    color: white;
}

nav.header-nav > a {
    font-size: 3rem;
    margin-inline: .5em;
    height: fit-content;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}