.user-msg {
    background-color: rgb(32, 3, 105);
    padding: 1rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 2rem;
    height: 2vh;
    font-size: 3rem;
    padding-inline: 3rem;
    padding-block: 2rem;
    text-align: center;
}

.user-msg.success {
    background-color: rgb(6, 87, 6);
}

.user-msg.error {
    background-color: rgba(118, 15, 30, 0.884);
}

.user-msg button:hover{
    cursor: pointer;
}
.user-msg button{
    float: right;
    margin: 1rem;
    font-size: 2rem;
    border: hidden;
    background-color: inherit;
}