.book-filter form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}



.book-filter form label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 2rem;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 1.2rem;
  }