.book-list {
    list-style: none;
    padding: 2rem 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 2rem;

    flex-wrap: wrap;
}


.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.books-list li > article {
    margin-inline: 8rem;
}

.delete-book {
    font-size: 1.3rem;
    background-color: #fb8989;
    border: none;
    cursor: pointer;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
}

.select-book {
    font-size: 1.3rem;
    background-color: peachpuff;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
    align-self: center;
    border-radius: 10px;
}

.book-btns {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    padding-top: 0.4rem;
}

.book-filter button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #dbdbdb;
    font-family: Lato;
    border: 1px solid white;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3s;
}


.book-filter button:hover {
    scale: 1.05;
}


.book-list img:hover {
    scale: 1.05;
}
div.book-details>a , div.book-details>button {
    font-size: 1.8rem;
    background-color: rgba(28, 84, 151, 0.51);
    border-radius: 10px;
    border: hidden;
    padding: 1rem;
    color: white;
}
.book-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #e3dada;
    border-radius: 2em;
    font-family: 'Poppins';
    padding-block: 2rem;
    margin-block: 2rem;
}

.book-details-box {
    width: 80%;
}

.book-details > h1 {
    font-size: 3.5rem;
}

.book-details > h4 {
    font-size: 1.5rem;
}

.book-details > img {
    max-width: 90%;
}